<% provide(:title, 'Contact us') %>
<div class="black-bg white page-contact" id="page-contact">
  <div class="container">
    <div style="position: relative; z-index: 2;" id="contact_us" name="contact_us">
      <header>
        </br>
        <h4 class="line-divider" style="text-align: center"><%= (t 'contact.contact') %></h4>

        <h1><%= (t 'contact.say_hello') %></h1>

        <div class="row">
          <div class="col-md-12">
            <p style="text-align: center">
              <%= (t 'contact.contact_text') %>
            </p>
          </div>
          <div class="col-md-6">
            <p style="text-align: center">
              <iframe frameborder="0" height="332" marginheight="0" marginwidth="0" scrolling="no" src="https://www.google.com.ua/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=ulitsa+Akademika+Krymskogo,+27%D0%90,+Kiyev,+gorod+Kiyev&amp;aq=0&amp;oq=ulitsa+Akademika+Krymskogo,+27%D0%90,+&amp;sll=48.385442,31.179199&amp;sspn=3.640705,7.866211&amp;ie=UTF8&amp;hq=&amp;hnear=ulitsa+Akademika+Krymskogo,+27%D0%90,+Kiyev,+gorod+Kiyev&amp;ll=50.465828,30.37342&amp;spn=0.013632,0.030727&amp;t=m&amp;z=14&amp;output=embed" width="520"></iframe>
            </p>
          </div>
          <div class="col-md-6">
            <div class="span5 offset1">
              <h5>_____________</h5>

              <div class="media">
                <div class="social-icons sicon-white pull-left">
                  <img alt="" src="/assets/phone-white.png" style="width: 23px; height: 23px; margin-top: -4px;">
                </div>
                <div class="media-body smallFontBy08">
                  +38 _________ | +38 _________ | +38 __________
                </div>
              </div>
              <div class="media">
                <div class="social-icons sicon-white pull-left">
                  <img alt="" src="/assets/map-marker2-white@2x.png" style="width: 30px; height: 30px; margin-top: -4px;">
                </div>
                <div class="media-body smallFontBy08">
                  Украина, Киев, ул. Академика Крымского, 27А
                </div>
              </div>
              <div class="media">
                <div class="social-icons sicon-white pull-left">
                  <img alt="" src="/assets/mail-white@2x.png" style="width: 30px; height: 30px; margin-top: -5px;">
                </div>
                <div class="media-body smallFontBy08">
                  info@_________.com
                </div>
              </div>
              <div class="media">
                <div class="social-icons sicon-white pull-left">
                  <img alt="" src="/assets/earth-white@2x.png" style="width: 30px; height: 30px; margin-top: -3px;">
                </div>
                <div class="media-body smallFontBy08">
                  www.___________.com
                </div>
              </div>
              <br>
              <br>
              <br>
              <h5><%= (t 'contact.get_social') %></h5>

              <div class="social-icons sicon-white bordered">
                <img alt="" src="/assets/facebook-white@2x.png" style="width: 32px; height: 32px;">
                <img alt="" src="/assets/google-plus-white@2x.png" style="width: 32px; height: 32px;">
                <img alt="" src="/assets/twitter-white@2x.png" style="width: 32px; height: 32px;">
                <img alt="" src="/assets/linkedin-white@2x.png" style="width: 32px; height: 32px;">

              </div>
            </div>
          </div>
        </div>
      </header>
    </div>
    <div id="map-image">
      <img src="assets/map_bck.jpg" alt="Treble">
    </div>
  </div>
</div>