<% provide(:title, 'For StartUp') %>
<div style="background: #ededed;" id="for_startups_and_it_companies" name="for_startups_and_it_companies">
  <div class="container">
    <div class="row">
      </br>
      <h4 class="line-divider" style="text-align: center"><%= (t 'menu.for_startups') %></h4>

      <div class="col-md-6">
        <%= (t 'content.for_startups').html_safe %>
      </div>
      <div class="col-md-6">
        <div class="vertical-align text-justify">
          <%= (t 'content.for_startups').html_safe %>
        </div>
      </div>
    </div>
  </div>
</div>