<div id="pricing" name="pricing">
  <div class="container">
    <div class="row">
      </br>
      <h3 style="text-align: center; padding-bottom:10px; border-bottom: solid 1px lightgray;"><%= (t 'menu.pricing') %></h3>
      <h4 style="text-align: center"><%= (t 'content.pricing') %></h4>

      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="plan" data-scrollreveal="enter over 1s" data-scrollreveal-initialized="true" data-scrollreveal-complete="true">
          <div class="plan-title">
            <h2>Beginner</h2>
            <h3><sup>$</sup>0<sub>/ month</sub></h3>
          </div>

          <ul class="plan-features">
            <li>1 user</li>
            <li>5 projects</li>
            <li>2GB storage</li>
          </ul>
          <div class="plan-cta">
            <p class="plan-buy"><a href="index.html" class="btn">Select plan</a></p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="plan featured" data-scrollreveal="enter over 1s" data-scrollreveal-initialized="true" data-scrollreveal-complete="true">
          <div class="plan-title">
            <h2>Advanced</h2>
            <h3><sup>$</sup>47<sub>/ month</sub></h3>
          </div>

          <ul class="plan-features">
            <li><strong>5 users</strong></li>
            <li>15 projects</li>
            <li>20GB storage</li>
          </ul>
          <div class="plan-cta">
            <p class="plan-buy"><a href="index.html" class="btn">Select plan</a></p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="plan featured" data-scrollreveal="enter over 1s" data-scrollreveal-initialized="true" data-scrollreveal-complete="true">
          <div class="plan-title">
            <h2>Pro</h2>
            <h3><sup>$</sup>147<sub>/ month</sub></h3>
          </div>

          <ul class="plan-features">
            <li><strong>50 users</strong></li>
            <li>Unlimited projects</li>
            <li>Unlimited storage</li>
          </ul>
          <div class="plan-cta">
            <p class="plan-buy"><a href="index.html" class="btn">Select plan</a></p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="plan" data-scrollreveal="enter over 1s" data-scrollreveal-initialized="true" data-scrollreveal-complete="true">
          <div class="plan-title">
            <h2>Enterprise</h2>
            <h3><sup>$</sup>199<sub>/ month</sub></h3>
          </div>

          <ul class="plan-features">
            <li><strong>Unlimited users</strong></li>
            <li>Unlimited projects</li>
            <li>Unlimited storage</li>
          </ul>
          <div class="plan-cta">
            <p class="plan-buy"><a href="index.html" class="btn">Select plan</a></p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>