<h1>Editing contact</h1>

<%= render 'form' %>

<%= link_to (t 'button.show'), @contact, class: "btn btn-sm btn-primary" %> |
<%= link_to (t 'button.back'), root_path, class: "btn btn-sm btn-primary" %>
